html{
    scroll-behavior: smooth;
    font-family: Roboto;
}

body{
    background-color: lightblue;
    
}

#quizWrapper{
    background-color: #36226d;
    width: 70%;
    transform: skew(-20deg);
    padding-left: 80px;
    height: auto ;
    position: relative;
    right: 6%;
}
#quizWrapper h1{
    transform: skew(20deg);
    margin: 0;
    padding: 30px;
    color: white;
}
#quizWrapper ul{
    transform: skew(20deg);
    display: flex;
    color: white;
}

#quizwrapper li{
    margin-left: 10px;
}

#quizWrapper h2{
    transform: skew(20deg);
    color: white;
    padding: auto;
}

.myAnswer{
    padding: 20px;
    list-style-type: none;
    
}

.answer{
    
    border: 3px white solid;
    width: 90px;
    margin-left: 10px;
    padding: 10px;
    margin: 40px;
}



#resultBox{
    border: 1px black solid;
    padding: 8px;
}


/* header start */

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 11;
    margin: 250px;
    color: #36226d;
    font-size: 180%;
}



#button-home button{
    width: 500px;
    height: 100px;
    transform: skew(-20deg);
    margin: 200px;
    text-decoration: none;
    background-color: #36226d;
    border: none;
}

#button-home button h1{
    transform: skew(20deg);
    color: white;
}


a:link{
    text-decoration: none;
}

/* header end */

/* footer start */
#footerWhole{
    background-color: black;
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

#footerWhole a{
    color: white;
    list-style-type: none;
    text-decoration: none;
    
}

.footerparts{
    flex: 1;
}
/* footer end */