body{
margin: 0;
padding: 0;
height: 1000vh;
background: #0A8B99;
}

html{
    scroll-behavior: smooth;
}

/* Navigator start */



#Navigator{
    width: 500px;
    height: 50px;
    background-color: #36226d;
    margin: 0 auto;
    padding: 0 auto;
    position: fixed;
    display: flex;
    top: 5px;

}

/* Navigator home button */

.Navigator-Home-Box{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    margin: 0;
    padding: 5px;
    list-style-type: none;
    display: flex;
}

nav li{
    flex: 1 0 auto;
}

nav li + li{
    border-left: solid 2px black;
}



nav a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
}

nav a:hover{
    background-color: black;
    color: white;
}


/* LAM logo in navigator */
.Navigator-LAM-Logo{
    height: 40px;
    width: auto;
    right: 10px;
    bottom: 5px;
    position: absolute;
    margin: 0;
    padding: 0;
}

/* Navigator end */

/* Image slider start */
.slider-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
width: 800px;
height: 500px;
border-radius: 10px;
overflow: hidden;
}

.slides{
width: 500%;
height: 500px;
display: flex;
}

.slides input{
display: none;
}

.slide{
    width: 20%;
    transition: 1.5s;
}

.slide img{
    width: 800px;
    height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
position: absolute;
width: 800px;
margin-top: -40px;
display: flex;
justify-content: center;
}

.manual-btn{
    border: 2px solid#E1668B;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
margin-right: 40px;
}

.manual-btn:hover{
    background: #E1668B;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}
/* Image slider end */

/* Tickets start */
#Tickets{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Tickets end */

/* Quiz start */
#Quiz{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Quiz end */